@page
@model WebApplication4.Pages.UserActions.ForgottenUserNameModel
@{
}

@if (Model.MailRecived){
	<div class="w-75 bg-white">
		<div>
			@if (Model.UserName is not null)
			{
				<p>
					Ditt användarnamn är: @Model.UserName
				</p>
			}
			else
			{
				<p>
					Någon försökte hitta en användare som använder din E-mail adress på våran hemsida:
					<br />
					<a asp-page="/Index">www.Golfcentar.se</a>
				</p>
			}
		</div>
	</div>
}

<div>
	<form method="post">
		<label asp-for="EmailAddress">Skriv in din E-mail adress:</label>
		<input asp-for="EmailAddress" />
		<span asp-validation-for="EmailAddress" class="text-danger"></span>
		<input type="submit" class="btn btn-centar" value="Hämta anändarnamn" />
	</form>
</div>