@page
@model WebApplication4.Pages.UserActions.ForgottenPasswordModel
@{
}

<h1>Glömt ditt lösenord?</h1>

@if (Model.MailRecived){
	<div class="w-75 bg-white">
		<div>
			@if (Model.UserID is not null)
			{
				<p>
					Det har skickats en förfrågan att byta lösenord på hemsidan 
				</p>
				<form method="post" asp-page-handler="Password" asp-route-id="@Model.UserID">
					<label asp-for="NewPassword">Skriv in ett nytt lösenord:</label>
					<input asp-for="NewPassword"/>
					<input type="submit" value="Updatera lösenord"/>
				</form>
			}
			else
			{
				<p>
					Någon förfrågade ett lösenords byte på en användere med din E-mail adress på våran hemsida:
					<br />
					<a asp-page="/Index">www.Golfcentar.se</a>
				</p>
			}
		</div>
	</div>
}

<div>
	<form method="post" asp-page-handler="Mail">
		<div>
			<label asp-for="EmailAddress">Skriv in din E-mail adress:</label>
			<input asp-for="EmailAddress" />
			<span asp-validation-for="EmailAddress" class="text-danger"></span>
		</div>		
		<input type="submit" class="btn btn-centar" value="Hämta användarnamn" />
	</form>
</div>
