bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/GolfcentarWebApp/FileContentIndex
/.vs
/.gitignore
/WebApplication4/Migrations/20250312130401_InitialCreate2.cs
/WebApplication4/Migrations/20250312130401_InitialCreate2.Designer.cs
/WebApplication4/Migrations/GolfContextModelSnapshot.cs
/WebApplication4/Migrations/20250331203112_initial.cs
/WebApplication4/Migrations/20250331203112_initial.Designer.cs
/WebApplication4/wwwroot/images/b92bf2e4-0970-4e0f-8a9b-13ec93920abc.jpg
/WebApplication4/wwwroot/images/f265e9ff-ab4e-4024-9d0f-27ee1181bf17.jpg
