bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/GolfcentarWebApp/FileContentIndex
/.vs
/.gitignore
/WebApplication4/Migrations/20250312130401_InitialCreate2.cs
/WebApplication4/Migrations/20250312130401_InitialCreate2.Designer.cs
/WebApplication4/Migrations/GolfContextModelSnapshot.cs
