html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



/*CSS Registration + Login form - Sandra*/
.regcontainer {
    background-color: #bbbb77;
    max-width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.logincontainer {
    background-color: #bbbb77;
    max-width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.form {
    background-color: #e5e5cc;
    border: 2px solid #55552b;
    border-radius: 1rem;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-group {
    width: 60%;
}

.textbox {
    width: 100%;
}

.regrubrik {
    text-align: center;
}

.loginrubrik {
    text-align: center;
}

.col-1 {
    font-family: 'Century Schoolbook';
}

.col-2 {
    width: 100%;
}

.col-3 {
    padding-top: 1.5rem;
}

.btn-centar {
    background-color: #55552b;
    border-color: #55552b;
    color: white;
}

    .btn:hover {
        background-color: yellowgreen;
        border-color: yellowgreen;
    }
/*CSS Registration form SLUT - Sandra*/

/*CSS till MyProfile*/
.myprofile{
    background-color: #fff;
    width: 50%;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 10px;   
    width: 12em;
}

.MyProfile-name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px;
    margin-left: 1em;
}

.MyProfile-mail {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px;
    margin-left: 1em;
}

.balance-container {
    background-color: #eee;
    border-radius: 12px;
}

.dollar-div {

    padding: 12px;
    border-radius: 10px;
}

.current-balance {
    font-size: 15px;
    color: #272727;
    font-weight: bold;
}

.amount {
    color: #55552b;
    font-size: 16px;
    font-weight: bold;
}

.kr {
    font-size: 16px;
    color: #272727;
    font-weight: bold;
}

.recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: #5957f9;
    margin-left: 2px;
}

.links {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
    text-decoration: none;
}

.links-border:hover {
    border-bottom: 1px solid #55552b;
    cursor: pointer;
}

@media (max-width: 991px) {

    .myprofile {
        width: 70%;
    }
}

@media (max-width: 528px) {

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }


    .myprofile {
        width: 90%;
    }
}

/*slut på CSS till MyProfile*/

#cart-container {
    position:relative;
    width: 100px;
    height: 100px;
}

#cart-icon {
    width: 100px;
    height: 100px;   
    position:absolute;
}

#cart-counter {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: red;
    color: white;
    text-align: center;
    margin: 3px;
}

.feed-con {
    border-right: 3px solid #55552b;
    border-left: 3px solid #55552b;
    border-radius: 25px;
}

.feed-img {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

/*Mail Start*/

.mail-container {
    background-color: white;
    width: 75%;
    margin-top: 1em;
    padding: 1em;
    justify-self: center;
}

.mail-sender-icon {
    border-radius: 50%;
    background-color: #55552b;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    color: white;
}

.mail-login-btn {
    margin-top: 5em;
    border-radius: 15px;
    background-color: cornflowerblue;
    padding: 0.2em 0.4em;
    text-align: center;
    font-size: 2em;
    color: white;
    text-decoration: none;
}