@page
@model WebApplication4.Pages.OldPages.UserSectionModel
@{
}
<!-- Inloggningsförmuläret start/ Batool-->

<section class="login-formBF">
    <h1 class="h2BF">Logga in</h1>
    <form action="login.php" method="POST">
        <input class="inputBF" type="text" name="username" placeholder="Användarnamn" required>
        <input class="inputBF" type="password" name="password" placeholder="Lösenord" required>
        <button class="buttonBF" type="submit">Logga in</button>
    </form>
    <p class="pBF">Glömt ditt lösenord? <a class="aBF" href="#">Återställ lösenord</a></p>
    <p class="pBF">Har du inget konto? <a class="aBF" href="#">Registrera dig</a></p>
</section>
<!-- Inloggningsförmuläret slut/ Batool-->
<!--sektion för förmåner/Anton-->
<section class="formaner-aj">
    <div class="formaner-container-aj">
        <h2 id="medlemsformaner-aj">Medlemsförmåner och erbjudanden</h2>
        <p>
            Som medlem hos oss på Centar så har du en rad olika förmåner som garanterat passar dig!
            Du har givetvis tillgång till exklusiva rabatter och erbjudanden, inte bara hos oss utan
            även på hotell, e-handel och butiker. Läs mer om specifika förmåner nedan.
        </p>

        <div class="rabatt-aj">
            <div>
                <ul>
                    <li>
                        10% rabatt i vår egna restaurang! Njut av dagens lunch, À la Carte eller varför inte en
                        svalkande glass efter golfrundan. (Rabatten gäller ej för alkohol) Visa medlemskort
                        eller ange medlemsnummer.
                    </li>
                    <li>
                        15% i Centar shopen! fynda all utrustning du kan tänka dig behöva, till exempel
                        golfklubban du drömt om, skor, kläder, golfbollar och snygga golfbags. Visa medlemskort
                        eller ange medlemsnummer.
                    </li>
                    <li>
                        15% på hotellnätter hos Elite hotels of Sweden, njut av lyxiga hotellvistelser på något
                        av Elite hotels of Sweden's fina hotell! Ange ditt medlemsnummer i bokningen
                    </li>
                    <li>
                        Mängdrabatt när du hyr golfbollar på ranchen, varierar mellan 20-40% beroende på hur
                        många bollar du vill ta ut, rabatten dras automatiskt när du drar ditt medlemskort i
                        automaten.
                    </li>
                    <li>
                        5-20% rabatt hos Dormy, rabatt % skiljer beroende på utrustning. Gäller i butik och på
                        nätet. Visa medlemskort eller ange medlemsnummer.
                    </li>
                    <li>
                        5-15% rabatt hos Golfhandelen.se, rabatt % skiljer beroende på utrustning. Gäller för
                        e-handel. Ange medlemsnummer.
                    </li>
                    <li>
                        10% rabatt hos Stadium, gäller i butik och på nätet, visa medlemskort eller ange
                        medlemsnummer.
                    </li>
                    <li>
                        15% vid köp av golfresa via TUI, njut av en golfresa på andra breddgrader, visa
                        medlemskort eller ange medlemsnummer.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--slut på sektion för förmåner-->