@using WebApplication4.Services
@inject CartService CartService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication4</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication4.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/oldstyles.css" asp-append-version="true"/>
</head>
<body>

<header>
        <a asp-page="/Index"><img src="~/images/Centar.gif" alt="logga" class="logo"></a>
        <nav class="navbar">
            <a asp-page="/Index">Startsida</a>
            <a asp-page="/OldPages/AboutUs">Om oss</a> 
            <a asp-page="/OldPages/Booking">Boka</a>
            <a asp-page="/OldPages/Events">Tävlingar och evenemang</a>
            <a href="/Login">Min Profil</a>
            <a asp-page="/OldPages/Contact">Kontakta oss</a>


            @if (Context.Session.GetInt32("Id") == null)
            {
                <a asp-page="/registration">Registrera dig</a> 
            }


            <a asp-page="/DisplayProductTemplate">Webshop</a>
            <a asp-page="/Feed/MyFeed">Flöde</a> 


            

        </nav>

        <div id="cart-container">
            <a href="/Cart/Cart">
                <img src="~/images/shopping-cart.png" alt="cart" id="cart-icon" class=" ">   
                <p id="cart-counter">@CartService.GetQunatity()</p>
                <img />
            </a>
        </div>

        <!-- Knapp för logga in-->
        
            @if (Context.Session.GetInt32("Id") !=null) {
        <a class="buttonLogInLS" asp-page="/Logout">Logga Ut</a>

        
            } else {
                <a class="buttonLogInLS" asp-page="/Login">Logga in</a>
            }
        <!-- slut-->

        <!--Hamburgermeny start-->
        <nav class="hamburgermeny">

            <input type="checkbox" id="menu-toggle" class="checkbox-toggle">
            <label for="menu-toggle" class="menu-button-container">
            </label>
            <i class="fa-solid fa-bars fa-bar-static"></i>
            <i class="fa-solid fa-bars fa-beat-fade"></i>

            <ul class="menu">
                <li><a href="index.html" class="aktiv-link"><i class="fa-solid fa-house"></i>Startsida</a></li>
                <li><a href="om-oss.html"><i class="fa-solid fa-circle-user"></i>Om oss</a></li>
                <li><a href="boka.html"><i class="fa-solid fa-circle-check"></i>Boka</a></li>
                <li><a href="events.html"><i class="fa-solid fa-calendar-days"></i>Tävlingar och Evenemang</a></li>
                <li><a href="medlemssektion.html"><i class="fa-solid fa-user"></i>Medlem</a></li>
                <li><a href="kontakt.html"><i class="fa-regular fa-address-card"></i>Kontakta oss</a></li>
                @if (Context.Session.GetInt32("Id") == null)
                {
                    <li><a asp-page="/registration"><i class="fa-solid fa-user-plus"></i>Registrera dig</a></li>
                }
                <li><a href="restaurang.html"><i class="fa-solid fa-utensils"></i>Restaurang</a></li>
                <li><a href="shop.html"><i class="fa-solid fa-shop"></i>Shop</a></li>
                <li><a href="/Forum"><i class="fa-solid fa-comments"></i>Forum</a></li> 

            </ul>

        </nav>
        <!--Hamburgermeny slut-->
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer>
        <nav class="footercontent">
            <ul>
                <li><a asp-page="/Index">Hem</a></li>
                <li><a asp-page ="/OldPages/AboutUs">Om oss</a></li>
                <li><a asp-page="/OldPages/UserAgreement">Användarvillkor</a></li>
            </ul>
        </nav>
        <a href="#top">Tillbaka till toppen</a>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/acf33f1b0e.js" crossorigin="anonymous"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
