@page
@model WebApplication4.Pages.checkoutexitModel


@{
    ViewData["Title"] = "Cart exit";
}

<div class="order-header">
    <h2>Order detaljer</h2>
    <h2>Tack för att du handlade hos oss!</h2>
</div>

<img src="/images/Moonwalk.gif" alt="celebrate"/>

<div class="order-details">
    <h5>Ditt ordernummer är: @Model.OrderNumber</h5>
    <h5>Orderdatum: @Model.OrderDate</h5>

    <h5>Leveranstid: 15 min en kvart.</h5>


    <a class="viewOrders" asp-page="/displayOrder">Se Mina
        Ordrar</a> @*Lagt till knapp för att navigera till sidan för sina ordrar - Sandra*@

    <div class="align-content-md-center d-flex justify-content-center">
        <form method="post">
            <button class="btn btn-primary" asp-route-id="@Model.OrderNumber" asp-page-handler="Download"> Visa Kvitto
            </button>
        </form>
    </div>

</div>



<style>
    body {
        background-color: #e5e5cc;
    }

    .order-header {
        text-align: center; /* Centrerar texten */
    }

    .order-header h2 {
        color: #555;
        font-size: 1.5em;
        margin: 5px 0; /* Skapar utrymme ovanför och under */
    }

    .order-details h4,
    .order-details h5 {
        text-align: center;
    }

    .order-details {
        text-align: center;
        margin-top: 50px;
    }

    .order-table {
        margin-top: 30px;
    }

    .order-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .order-table table thead th {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    .order-table table tbody td {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .viewOrders { /* Stil för knapp */
        align-items: center;
        text-align: center;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 10px;
        box-shadow: 2px 4px 9px #000000d4, -2px -4px 9px #e5e5cc;
        width: 13em;
        height: 35px;
        transition: 0.5s;
        font-weight: 500;
    }
</style>