@page
@model WebApplication4.Pages.DisplayProductTemplateModel
@{
    ViewData["Title"] = "Webshop";
}

<div class="text-center">
    <h1 class="display-4">Centar Webshop</h1>
    <p>Besök vår bemannade shop för större utbud av produkter.</p>
</div>

<!-- foreach loop för att visa alla produkterna i mallen- Anton -->
<div class="product-container">
    @foreach (var product in Model.Product) {
        <!--partial view - Anton -->
        <partial name="_ProduktMall" model="product"/>
    }
</div>

<!--Styling för hur produkterna ska visas - Anton -->
<style>
    .product-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
    }
</style>