@page
@model WebApplication4.Pages.LoginModel
@{
}

<div class="logincontainer" style="padding:20px">
    <form method="post" class="form">
        <h3 class="loginrubrik">Logga in</h3>
        <p class="logintext">Här loggar du in dig med användarnamn och lösenord</p>

        <div class="form-group">
            <div class="col-1">
                <label asp-for="UserName">Användarnamn:</label>
            </div>

            <div class="col-2">
                <input type="text" class="textbox" asp-for="UserName"/>
            </div>
        </div>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="PassWord">Lösenord:</label>
            </div>

            <div class="col-2">
                <input type="password" class="textbox" asp-for="PassWord"/>
            </div>

        </div>

        <div class="form-group d-flex gap-5">
            <div class="col-3">
                <input type="submit" class="btn btn-centar" value="Logga in"/>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a asp-page="/Registration"> Inget konto? Registrera dig här</a>
            </div>

        </div>

        <div class="form-group d-flex gap-5">
            <div class="d-flex justify-content-end align-items-center">
                <a asp-page="/UserActions/ForgottenUserName"> Glömt ditt användar namn?</a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a asp-page="/UserActions/ForgottenPassword">Glömt ditt lösenord?</a>
            </div>
        </div>

    </form>
</div>
<!--sektion för förmåner/Anton-->
<section class="formaner-aj">
    <div class="formaner-container-aj">
        <h2 id="medlemsformaner-aj">Medlemsförmåner och erbjudanden</h2>
        <p>
            Som medlem hos oss på Centar så har du en rad olika förmåner som garanterat passar dig!
            Du har givetvis tillgång till exklusiva rabatter och erbjudanden, inte bara hos oss utan
            även på hotell, e-handel och butiker. Läs mer om specifika förmåner nedan.
        </p>

        <div class="rabatt-aj">
            <div>
                <ul>
                    <li>
                        10% rabatt i vår egna restaurang! Njut av dagens lunch, À la Carte eller varför inte en
                        svalkande glass efter golfrundan. (Rabatten gäller ej för alkohol) Visa medlemskort
                        eller ange medlemsnummer.
                    </li>
                    <li>
                        15% i Centar shopen! fynda all utrustning du kan tänka dig behöva, till exempel
                        golfklubban du drömt om, skor, kläder, golfbollar och snygga golfbags. Visa medlemskort
                        eller ange medlemsnummer.
                    </li>
                    <li>
                        15% på hotellnätter hos Elite hotels of Sweden, njut av lyxiga hotellvistelser på något
                        av Elite hotels of Sweden's fina hotell! Ange ditt medlemsnummer i bokningen
                    </li>
                    <li>
                        Mängdrabatt när du hyr golfbollar på ranchen, varierar mellan 20-40% beroende på hur
                        många bollar du vill ta ut, rabatten dras automatiskt när du drar ditt medlemskort i
                        automaten.
                    </li>
                    <li>
                        5-20% rabatt hos Dormy, rabatt % skiljer beroende på utrustning. Gäller i butik och på
                        nätet. Visa medlemskort eller ange medlemsnummer.
                    </li>
                    <li>
                        5-15% rabatt hos Golfhandelen.se, rabatt % skiljer beroende på utrustning. Gäller för
                        e-handel. Ange medlemsnummer.
                    </li>
                    <li>
                        10% rabatt hos Stadium, gäller i butik och på nätet, visa medlemskort eller ange
                        medlemsnummer.
                    </li>
                    <li>
                        15% vid köp av golfresa via TUI, njut av en golfresa på andra breddgrader, visa
                        medlemskort eller ange medlemsnummer.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--slut på sektion för förmåner-->