@page
@model WebApplication4.Pages.RegistrationModel
@{
}


<div class="regcontainer" style="padding:20px">
    <form method="post" class="form">
        <h3 class="regrubrik">Skapa ett konto</h3>
        <p class="regtext">Registrera dig här! Fyll i dina uppgifter nedan.</p>
        <p>@Model.Message</p>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="User.FirstName">Förnamn:</label>
            </div>

            <div class="col-2">
                <input type="text" class="textbox" asp-for="User.FirstName" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="User.LastName">Efternamn:</label>
            </div>

            <div class="col-2">
                <input type="text" class="textbox" asp-for="User.LastName" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="User.Username">Användarnamn:</label>
            </div>

            <div class="col-2">
                <input type="text" class="textbox" asp-for="User.Username" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="User.Email">Email:</label>
            </div>

            <div class="col-2">
                <input type="email" class="textbox" asp-for="User.Email" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">

            <div class="col-1">
                <label asp-for="User.Password">Lösenord:</label>
            </div>

            <div class="col-2">
                <input type="text" class="textbox" asp-for="User.Password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group">
            <div class="col-3">
                <input type="submit" class="btn btn-centar" value="Registrera" />
            </div>
        </div>
    </form>
</div>